* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  line-height: 150%;
}

label {
  line-height: 130%;
}

form {
  text-align: center;
  margin: auto;
}

form,
input,
select {
  width: 100%;
  max-width: 150px;
  /* padding: 1em; */

}

input,
select {
  margin: 0.5em 0 1em 0;
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
}

img {
  display: block;
}

button {
  padding: 20px 40px;
}

footer {
  
}