* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  line-height: 150%;
  background-image: url(../images/images/Gemini_Generated_Image_r3vlokr3vlokr3vl.png);
  opacity: 0.9;
  background-position: center;
  background-size: cover;
}

main {
  padding: 0.5 8% 8% 8%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1 {
  font-size: 30vh;
  text-align: center;
  color: black;
}

h2 {
  	font-size: 170%;
  	line-height: 150%;
  	text-align: center;
  	height: 200px;
  	color: black;
}

label {
  	line-height: 130%;
  	color: black;
}

legend {
  	font-size: 150%;
  	text-align: left;
  	color: black;
}

form {
	text-align: center;
	justify-content: center;
  	margin: auto;
}

form,
fieldset {
	text-align: center;
  	width: 100%;
 	max-width: 600px;
}

fieldset {
  padding: 1.6em;
  margin-bottom: 3em;
  background-image: url(../images/images/Gemini_Generated_Image_r3vlokr3vlokr3vl.png);
  /*background-color: lightgreen;*/
  background-position: center;
  background-size: 80%;
  color: black;
}

input {
	justify-content: center;
  	width: 100%;
  	color: black;
}

#userName {
  	max-width: 500px;
}

select#energyUsage {
	justify-content: center;
  	width: 50%;
  	max-width: 200px;
}

#userName,
#energyUsage {
  	margin: 0.6em 0 3em 0;
}

#heatType {
  	text-align: center;
}

input,
select {
	justify-content: center;
  	display: block;
  	font-size: 120%;
  	padding: 0.5em;
}

[type="checkbox"] {
  	margin: 0.5em 0 0.5em 0;
}

#heatField {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
}

#heatField span {
  	padding: 2em 0 2em 0;
  	width: 120px;
}

#travel input {
  	max-width: 150px;
}

#travel span {
  	padding: 1em;
  	display: flex;
  	justify-content: space-around;
}

header {
  	text-align: center;
}

header,
footer {
  	padding: 50px 10% 50px 10%;
}

footer {
  text-align: center;
  font-size: 15px;
  color: black;
}

@media screen and (max-width: 600px) {
  #travel span {
    flex-direction: column;
    align-items: center;
  }
  #travel label {
    text-align: center;
    margin-bottom: 1em;
  }
}



#submit{
  border-radius: 10px;
  padding: 15px;
  border: 4px, ridge, rgb(170, 170, 243);
  background-color: rgb(151, 213, 255);
  font-size: large;
}

#submit:hover{
	scale: 1.05;
}

#submit:active{
	scale: 1;
}