* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  line-height: 150%;
  /* background-image: url(../images/images/Gemini_Generated_Image_r3vlokr3vlokr3vl.png); */
  /* background-position: center; */
  /* background-size: cover; */
}

button,
select,
[type="checkbox"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  cursor: pointer;
}

main {
  padding: 5% 8% 8% 8%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  color: #5fcf4e;
  font-size: 800%;
  text-align: center;
}

h2 {
  color: #7a7a7a;
  margin-top: 200px;
  font-size: 300%;
  line-height: 150%;
  text-align: center;
}

label {
  line-height: 130%;
}

legend {
  font-size: 150%;
}

form {
  margin: 8% auto 20% auto;
}

form,
fieldset {
	text-align: center;
  	width: 100%;
 	max-width: 600px;
}

fieldset {
  padding: 1.6em;
  margin-bottom: 3em;
  /* background-image: url(../images/images/Gemini_Generated_Image_r3vlokr3vlokr3vl.png); */
  /*background-color: lightgreen;*/
  /* background-position: center; */
  /* background-size: 80%; */
  background-color: #f0fbef;
}

input {
	justify-content: center;
  	width: 100%;
  	color: black;
}

#userName {
  	max-width: 500px;
}

select#energyUsage {
	justify-content: center;
  	width: 50%;
  	max-width: 200px;
}

#userName,
#energyUsage {
  	margin: 0.6em 0 3em 0;
}

#heatType {
  	text-align: center;
}

input,
select {
	justify-content: center;
  	display: block;
  	font-size: 120%;
  	padding: 0.5em;
}

[type="checkbox"] {
  	margin: 0.5em 0 0.5em 0;
}

#heatField {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
}

#heatField span {
  	padding: 2em 0 2em 0;
  	width: 120px;
}

#travel input {
  	max-width: 150px;
}

#travel span {
  	padding: 1em;
  	display: flex;
  	justify-content: space-around;
}

header {
  	text-align: center;
}

header,
footer {
  	padding: 50px 10% 50px 10%;
}

#graph {
  background-color: #fff;
}

footer {
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 600px) {

  /* h1 {
    font-size: 500%;
  } */

  #travel span {
    flex-direction: column;
    align-items: center;
  }

  #travel label {
    text-align: center;
    margin-bottom: 1em;
  }
}



#submit{
  border-radius: 10px;
  padding: 15px;
  border: 4px, ridge, rgb(170, 170, 243);
  background-color: rgb(151, 213, 255);
  font-size: large;
}

#submit:hover{
	scale: 1.05;
}

#submit:active{
	scale: 1;
}

@media screen and (max-width: 800px) {

  h1 {
    font-size: 500%;
  }
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: 380%;
  }

  h2 {
    font-size: 240%;
  }
}